jira_server = 'https://jira.example.ru'
jira_user = 'jira'
jira_pass = 'pass'
jira_transition = 'Done'  # Transition to close issue. Read more https://jira.readthedocs.io/en/master/examples.html#transitions
jira_project = 'ZBX'  # Your project key, for example "ZBX"
jira_issue_type = 'Error'  # Your issue type in Jira project(Error, Bug, Epic ...)

zbx_prefix = "zbx"  # variable for separating text from script info
zbx_tmp_dir = "/tmp/" + zbx_prefix  # directory for saving caches, cookies, etc.
zbx_server = "https://zabbix.example.ru"  # zabbix server full url
zbx_api_user = "zab"
zbx_api_pass = "bix"
zbx_api_verify = True  # True - do not ignore self signed certificates, False - ignore

proxy_to_zbx = None
proxy_to_tg = None


# proxy_to_zbx = "proxy.local:3128"
# proxy_to_tg = "proxy.local:3128"
